.App {
  text-align: center;
}

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);
  
}

#ing-list {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
}

#ing-item {
  list-style: none;
  width: 168px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid;
  margin-left: 24px;
  margin-right: 24px;
  transition: 150ms;
}

#ing-item:hover {
  background-color: rgb(255, 157, 189);
  cursor: pointer
}

h4 {
  width: 320px;
  text-align: left;
  margin-top: 24px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(255, 157, 189);
  padding-left: 4px;
  padding-bottom: 1px;
}

#list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid rgb(255, 157, 189);
}

#item {
  list-style: none;
  text-align: left;
  padding-left: 5px;
  line-height: 25px;
} 

#drink-card {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(211, 0, 123);
  border-radius: 4px;
  width: 370px;
  margin: 10px;
  background-color: lightblue;
}

#drink-card:hover {
  cursor:pointer;
}

#drink-img {
  width: 198px;
  border-right: 2px solid rgb(211, 0, 123);
}

#drink-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#drink-thumb {
  width: 250px;
}

#drink-title {
  padding-right: 6px;
}

a {
  text-decoration: none;
  color:black;
  cursor: default;
}

p {
  max-width: 810px;
  margin: 0 auto;
  margin-top: 20px;
}

input {
  margin-bottom: 13px;
}